<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="news"></ion-back-button>
        </ion-buttons>
    <ion-title>newsdetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img [src]='article.urlToImage'></ion-img>
    <ion-card class="selector details">
       
        <ion-card-header>
          <ion-card-title style="text-align: justify">{{article.title}}</ion-card-title>
          <ion-card-subtitle>{{article.publishedAt | date:longDate}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
         <p style="text-align: justify">{{article.content}}</p>
        </ion-card-content>

        <ion-button (click)="openLink(article.url)">try</ion-button>
      </ion-card>
</ion-content>
